@media only screen and (max-width:1149px){
    .container .ads{
        flex-wrap: wrap;
        justify-content: center;
        
    }
    .container .ads .ads1 img{
        max-width: 750px;
    }
    .container .ads .ads2{
        display: flex;
    }
    .container .ads .ads3 img{
        height: 330px;
    }
    header .main-menu .menu ul{
        display: block;
    }
    header .main-menu .logo{
        order: 2;
    }
    header .main-menu .menu{
        order: 1;
    }
    header .main-menu .cart{
        order: 3;
        
    }
}